doctype html
html
  head
    title Digital Inove
    link(href='css/main.css', media='all', rel='stylesheet')
    link(href='css/normalize.css', media='all', rel='stylesheet')
  body
    #jumbo
      .bars
        - each i in [1, 2, 3, 4]
          .bar
      .content
        .logo
          div
            img(src='images/logo-digital-inove.svg', width='100%', alt='Digital Inove')
            h2 Gráfica Rápida e Papelaria
        .info
          .contact
            span.phone (12) 3522-0086
            a.btn(href='contatos') Veja outros contatos
    script(src='js/main.js')
