doctype html
html
  head
    meta(charset='utf-8')
    title Digital Inove
    meta(name='description', content='Gr치fica R치pida e Papelaria')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='css/main.css', media='all', rel='stylesheet')
    link(href='css/normalize.css', media='all', rel='stylesheet')
  body
    #top-bars
      - each i in [1, 2, 3, 4]
        .bar
    #jumbo
      .content
        .logo
          div
            img(src='images/logo-digital-inove.svg', width='100%', alt='Digital Inove')
            h2 Gr치fica R치pida e Papelaria
        .info
          .info-content
            .contact
              span.phone (12) 3522-0086

    script(src='js/main.js')
